* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(
    #55cbd4b6 10%,
    #C7DAC7 40%,
    #FFB68D 60%,
    #FE8D7B 90%,
    #fa6a87 100%
  );
}

.banner {
  height: 85vh;
  background: url("../image/david-henrichs-72AYEEBJpz4-unsplash.jpg") center
    center no-repeat fixed;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-context {
  background: rgba(255, 255, 255, 0.5);
  padding: 10% 0% 10% 0%;
  border-radius: 1rem;
  text-align: center;
}

.banner .banner-context p {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.about-section {
  font-size: 1rem;
  margin: 5%;
  text-align: center;
}
.h2 {
  font-size: 3rem;
}

.drone {
  width: 100%;
}


/* footer css starts here */
.footer {
  background-color: rgba(204, 204, 204, 0.842);
  font-size: 1rem;
}

.footHeading {
  margin: 10px;
  font-size: 2rem;
}

.footer #line {
  border: 1px #000000 solid;
  width: 50%;
  box-shadow: 0 0 5px 2px rgba(234, 181, 82, 0.294);
}
/* footer css ends here */

/* Slider responsive */

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }  
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

@media (min-width: 769px) {
  #nameuser {
    display: flex;
    justify-content: space-around;
  }
}